:root {
  --font-family: Arial, sans-serif;
  --title-color: rgba(30, 28, 128, 0.77);
  --background: linear-gradient(to bottom left, #0f172a, #1e1a78, #0f172a);
  --button-color: #150050;
  --border-radius: 25px;
  --border-radius-form: 6px;
  --color-dark: black;
  --color-light: #f2f7ff;
  --color-light-secondary: #fcfdff;
  --title-boxes-margin: 50px;
  --webkit-shadow: 0px -1px 6px 2px rgba(0, 0, 0, 0.29);
  --box-shadow: 0px -1px 6px 2px rgba(0, 0, 0, 0.29);
  --size-20: 20px;
}

body {
  font-family: var(--font-family);
  background: var(--background);
  color: var(--color-light);
}

.description {
  margin: 0;
}

.icon {
  height: 60px;
  width: 60px;
}

.title-container {
  margin: var(--title-boxes-margin);
  margin-bottom: var(--size-20);
  display: grid;
  grid-template-columns: 5% 80% auto;
  align-items: center;
}

.title-description {
  margin-left: 10px;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button-navs {
  background-color: var(--color-light);
  margin: var(--title-boxes-margin);
  -webkit-box-shadow: var(--webkit-shadow);
  box-shadow: var(--box-shadow);
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px;
  width: auto;
  border-radius: var(--border-radius);
}

h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: var(--color-light);
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

h3 {
}

form.hidden {
  display: none;
}

form.block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: var(--border-radius-form);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input,
textarea,
select {
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

button {
  border-radius: var(--border-radius);
  padding: 10px 10px;
}

button:hover,
#create-bookmark-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#create-bookmark-button {
  background: var(--button-color);
  color: var(--color-light);
  margin: var(--size-20);
  margin-left: 0;
  padding: 10px 30px;
  border-radius: var(--border-radius);
}

#bookmark-list {
  margin: 50px;
  margin-top: var(--size-20);
  margin-bottom: var(--size-20);
}

.bookmark-card {
  padding: var(--size-20);
  margin-top: 20px;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  color: var(--color-dark);
}

label {
  color: var(--color-dark);
}

.copy-bookmark,
.like-bookmark {
  color: var(--color-light);
  background-color: var(--button-color);
}

.bookmark-title {
  text-decoration: none;
}
